


/***********************************************************/
/****start testimonials*****/
/************************************************************************/

.testimonials{
    height:100px;
}
.carousel-slide-down{
    
}
.testimonials{
 -webKit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-image: url('../../img-All/testimonials-slider-boot/back/islam.jpg');
   position: relative;
      

   position: relative;
   height: 100px;
   height: 60%;
    
  /* margin-bottom: 150px;*/

}
.testimonials-wedth{
  width: 100%;
}
.testimonials .overlay{
  position:absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   background-color:rgba(0, 0, 0,.85);
   z-index: 0;
   padding: 10px;

 

}
 .testimonials .container{


  }
 .testimonials .carousel-caption p{
     color: #f00;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 700px;
 }
.testimonials .carousel-caption img{

margin-bottom:20px;
width: 120px;
height: 120px;
/*margin-top: 50px;*/
}
/*.img-control:hover{
    border-radius : none;
    
}*/
.testimonials .carousel-caption h5 {

 /*margin-bottom: 10px;*/
 font-weight: bold;
}
.testimonials .carousel-caption h5 +span{
  display: inline-block;
  /*margin-bottom: -50px;*/

font-size:18px; 
}
 .testimonials .carousel-indicators li {
  height: 8px;
  cursor:pointer;
 } 

 .testimonials {
    margin:0px;  
  
}


.testimonials .carousel-control-prev{ 
    /*background-color: #808;*/
}



 .testimonials .indicators-Heder li {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 5px;
     font-size: 40px;
        /*background-color:#fff;*/
    border: 1px solid #aaa;
     -webkit-transition:all .5s ease;
          -moz-transition:all .5s ease;
          -ms-transition:all .5s ease;
          -o-transition:all .5s ease;
          transition:all .5s ease;

     

}
.testimonials .carousel-indicators .active{
    height: 18px;
    width: 12px;

    color:#000;
    background-color:#7a1b1d;
    border: 1px solid #fff;
    margin-top:-8px;
}

.testimonials .carousel-control-prev{
   /* 
    background-color: #00f;
    color: red;
    width: 33px;
    height: 29px;
    top: 220px;
    left:60px;
        */
    
}
.testimonials .carousel-control-prev:hover{

 /* background-color: #7a1b1d;*/
 
}
.testimonials .carousel-control-next-icon
{
   
         
}
.testimonials .carousel-control-next-icon{
 margin-left: 200px;
    top: 200;
    
}
.testimonials .carousel-control-next-icon:hover{

 /* background-color: #7a1b1d;*/
 
}
/*
carousel-control-next-down{
    
    top: 100px;
    width: 100px;
    height: 100px;
}
*/
 
/*********************************** *******/

/************************************************************************/
                                                    
 .pricing-table .section-desc{
  
     line-height: 1.6;
    /*font-size: 15px;*/
/*     margin:0 auto 45px;*/
    color:#007bff; 
/*    margin-left: -15px;*/
    font-style: normal;
         width: 100px;
    height: 100px;
    background-color: #154645;
    border-radius: 50%;
    text-align: center;
    line-height: 500%;
     margin-left:40%;

}
 
  /************************************************************************/

/*<!--custmboot bootstripe-->*/
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
/*    background: transparent no-repeat center center;*/
    background-size: 100% 100%;
    position: absolute;
    left: 41%;
    /* margin-right: 152px; */
    padding-right: 69px;
    margin-top: -25px;
   padding-bottom:    25px;
	    bottom: 70px;
}
 

 .carousel-caption{
	bottom: 125px;
}
.carousel-indicators{
	bottom: 125px;
	bottom:77px;
}
